.storybook-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 8px 10px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  z-index: 10;
  color: #fff;
}
.storybook-overlay button {
  margin-left: 10px;
}
.storybook-overlay button:first-child {
  margin-left: 0;
}